/******** Luke, Yo soy el CSS *********/

body {
    margin: 0;
    padding: 0%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: flex-end;
}